* {
  margin: 0;
  box-sizing: border-box;
}

#search {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  outline: none;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 5rem;
  text-align: center;
}

#search::-webkit-inner-spin-button {
  display: none;
}

#popUp {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(63, 63, 63, 0.8);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.5rem;
  border-radius: 10px;
  display: none;
  user-select: none;
}

.header {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.subHeader {
  font-size: 0.9rem;
}

.content {
  font-weight: bold;
}
